/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* FULL BACKGROUND */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #ff512f, #f09819);
}

/* CENTER BOX */
.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD DESIGN */
.auth-card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

  text-align: center;
  color: white;
}

/* TITLE */
.auth-card h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.auth-card p {
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.9;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;

  border: none;
  outline: none;

  border-radius: 12px;
  font-size: 15px;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;

  background: white;
  color: #ff512f;

  border: none;
  border-radius: 12px;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.auth-card button:hover {
  background: black;
  color: white;
}

/* SWITCH LINK */
.switch-link {
  margin-top: 20px;
  font-size: 14px;
}

.switch-link a {
  color: yellow;
  font-weight: bold;
  text-decoration: none;
}

.switch-link a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .auth-card {
    width: 90%;
    padding: 30px;
  }
}
