body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.big {
  font-size: 18px;
}

.auth-box {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  text-align: center;
}

.auth-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}
